<div class="border border-gray-200 bg-gray-50 p-3">
  <div class="flex flex-row gap-3 mb-2">
    <div class="w-full sm:w-3/4">
      <p class="text-2xl mb-2">{{ credential.title }}</p>
      <p>{{ credential.description }}</p>
      <p *ngIf="credential.website">
        <a class="text-blue" [href]="credentialWebsite" target="_blank">{{ credentialWebsite }}</a>
      </p>

      <img class="w-full mt-3" *ngIf="credential.image_link" [src]="credential.image_link" />
    </div>
  
    <div class="w-full sm:w-1/4" *ngIf="isYou">
      <span class="mx-3 cursor-pointer" (click)="isEditing = !isEditing">{{ isEditing ? 'Cancel Edit' : 'Edit' }}</span>
      <span class="cursor-pointer" (click)="emitDelete()">Delete</span>
    </div>
  </div>

  <div *ngIf="isEditing">
    <carmaster-mechanic-credential-form
      (formSubmit)="updateCredential($event)"
      [isEditing]="isEditing"
      [credential]="credential"
    ></carmaster-mechanic-credential-form>
  </div>
</div>