<div>
  <div class="m-16">
    <div class="container mx-auto">
      <div class="flex flex-col gap-4">
        <div class="w-full">
          <div class="card-box-1">
            <div class="">
              <h3 class="text-3xl mb-3">Search for mechanics</h3>
            </div>
      
            <carmaster-mechanic-search-form
              (formSubmit)="searchMechanics($event)"
            ></carmaster-mechanic-search-form>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-3 card-box" *ngFor="let mechanic of mechanics">

          <div class="h-auto w-full sm:w-96" [bgImgCover]="mechanic.user!.icon_link || './assets/img/anon.png'" [height]="'400px'"></div>
          
          <div class="p-4 h-auto grow flex flex-col justify-between">
            <div class="flex flex-col sm:flex-row gap-3">
              <div class="w-full sm:w-1/2">
                <h1 class="text-gray-900 font-bold text-4xl leading-8 my-1">{{ mechanic.user!.displayname }}</h1>
                <h3 class="text-gray-600 font-lg text-semibold leading-6">
                  <a [routerLink]="['/', 'users', mechanic.user!.id, 'mechanic-profile']">@{{ mechanic.user!.username }}</a>
                </h3>
              </div>
              <div class="w-full sm:w-1/2">
                <p class="text-gray-600 font-lg text-semibold leading-6" *ngIf="mechanic.city">{{ mechanic.city }}, {{ mechanic?.state }}, {{ mechanic?.country }}</p>
              </div>
            </div>

            <div>
              <form *ngIf="!!you" [formGroup]="messageFormsByMechanicId[mechanic.id]" (ngSubmit)="sendMessageToMechanic(mechanic)">
                <p class="text-2xl">Send a message</p>
                <div class="uk-margin">
                  <span class="label-info">
                    Body ({{ messageFormsByMechanicId[mechanic.id].controls['body'].value.length }}/{{ MSG_MAX_LENGTH }})
                  </span>
                  <textarea
                    type="text"
                    class="input-text-1"
                    placeholder="Enter message..."
                    rows="3"
                    formControlName="body"
                  ></textarea>
                </div>
                <div>
                  <button
                    type="submit"
                    title="Message this user"
                    class="btn-primary-1"
                    [disabled]="loading || messageFormsByMechanicId[mechanic.id].invalid"
                  >
                    <i class="fas fa-paper-plane"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
