.browse-map-div {
  width: 100%;
  min-height: 60vh;
}

.browse-map-div-container {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 1px;
  padding: 5px;
}

.page-container {
  width: 1275px;
  max-width: 100%;
  padding: 50px 10px;
}