<div class="container mx-auto">
  <div class="background-white m-3 sm:m-16">
    <section class="p-3 sm:p-16 border border-gray-300 shadow-sm">
      
      <p class="text-5xl mb-10">Creating a Delivery Listing (Customer)</p>

      <p class="text-xl mb-5">
        The core functionality (and purpose) of Carry is creating and fulfilling delivery listings. All users of the app can use it as both a customer and a service provider.
      </p>

      <p class="text-xl mb-5">
        While signed in, tap the "Deliveries" tab on the bottom navigation.
      </p>
      <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/deliveries-screen.png'">

      <p class="text-xl mb-5">
        This is where your delivery listings will show. You can swipe down from the top to refresh and swipe up to see older listings until the end is reached (all your listings are loaded). 
        At the top right on this screen, there is a plus button. Tapping it will navigate to the "Create a Delivery" screen.
      </p>
      <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-screen.png'">

      <p class="text-xl mb-5">
        From here, you fill out the form for the listing you want to create. It is very similar to the information any other carrier will ask for (from name & address, to name & address, size, weight, value of items, etc).
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-info.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-pickup-info.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-pickup-address.png'">
      </div>
      <p class="text-xl mb-5">
        The <span>payout</span> field is how much you are paying; this is what the service provider gets pay for fulfilling the request.
        The <span class="font-bold">reimbursement</span> field represents how much you would like in the event something were to go wrong with your delivery. 
        The form has a pickup and dropoff section, this means that a customer can create delivery listings on behalf of himself/herself/themself or someone else.
      </p>

      <p class="text-xl mb-5">
        There is an option for adding insurance to the delivery listing. All service providers are responsible for fulfilling deliveries honestly and with integrity. 
        However, in situations of misconduct, this will insure that the platform will compensate for the inconvenience. More information about code of conduct can be found on the <a [routerLink]="['/terms-agreements']">Terms & Agreements</a> page.
      </p>

      <p class="text-xl mb-5">
        After filling out all fields, the "Review" section will give a summary of the costs.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-review.png'">
      </div>

      <p class="text-xl mb-5">
        Terms and agreements must be accepted in order to submit the listing. To submit, select a payment option to use for paying then tap the Submit button at the very bottom. Upon submitting, Carry will attempt to <span class="font-bold">place a hold</span> 
        on your payment option: if successfully authorized to place a hold, Carry will hold the final total until the delivery is fulfilled by a service provider; the listing will then be created.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="max-w-full polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/delivery-listing-payment-hold.png'">
      </div>

      <p class="text-xl mb-5">
        A successful submission will return you to the deliveries screen with the new listing item, along with an alert message reflecting that result. A delivery listing starts off in the <span class="font-bold">Open</span> status, meaning it is available for any service provider to claim and fulfill.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/create-delivery-success.png'">
      </div>

      <p class="text-xl mb-5">
        The chevron icon is for expanding/collapsing details while the sync icon is for reloading the latest status/data of the delivery item.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-list-item-expanded.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-list-item-reload-data.png'">
      </div>

      <p class="text-xl mb-5">
        Tapping a list item will take you to the delivery listing details screen for that delivery. Swiping down from the top will refresh the screen with the latest information available.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-details-open-status.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-details-screen.png'">
      </div>

      <p class="text-xl mb-5">
        To cancel a listing, tap the delete (trash icon) button at the top right. Note: a listing cannot be deleted if a service provider has started fulfilling the listing. Deleting a listing will release the hold on the payment method used to create the listing.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="max-w-full polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/delivery-listing-payment-canceled.png'">
      </div>

      <p class="text-xl mb-5">
        Throughout the duration of a delivery listing (from listing creation to fulfillment), you will receive push notifications of events and activities from the assigned service provider. This includes tracking updates, messages, statuses, etc.
      </p>
      <!-- <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/_____.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/_____.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/_____.png'">
      </div> -->

      <p class="text-xl mb-5">
        As the owner of the listing, you are able to communicate with the service provider via messaging on the delivery listing. On the Delivery details screen, towards the bottom, tap the "Messages" button. From there, tap the plus icon at the top right. This will bring up the new message form.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-messages.png'">
      </div>

      <p class="text-xl mb-5">
        Tracking updates are one way communications from the service provider to the customer, just like with commercial carrier services. Tracking updates can be viewed by tapping the "Tracking Updates" button located next to the "Messages" button on the delivery details screen.
      </p>

      <p class="text-xl mb-5">
        When a service provider marks the delivery as dropped off, that is when you, as the customer, must review the delivery. This means going over all of the messages, tracking updates, uploaded informations, etc, to verify that the fulfillment is valid. After determining that the service provider did fulfill the request, 
        You can trigger the payout. After receiving the notification that the delivery was dropped off, refresh the screen to load the latest data. At the very bottom, there will be a "Pay Carrier" button. Tapping that button will payout to the carrier (service provider) and complete the delivery.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-pay-carrier-button.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/delivery-payment-successful.png'">
      </div>

      <p class="text-xl mb-5">
        After paying the service provider, the listing will be marked as completed; no more action items are needed.
      </p>

    </section>
  </div>
</div>