<div class="container mx-auto">
  <div class="background-white m-3 sm:m-16">
    <section class="p-3 sm:p-16 border border-gray-300 shadow-sm">
      
      <p class="text-5xl mb-10">Setting up Stripe Connect</p>
      <p class="text-xl mb-5">
        Carry uses <a href="https://stripe.com" target="_blank">Stripe</a> for identity verification and to manage all finance related activities on the platform. 
        Specifically, Carry uses <a href="https://stripe.com/connect" target="_blank">Stripe Connect</a>, a common service used by many other Marketplaces or Paas (Platform as a Service) apps/businesses. 
        In order to use the app, you must create a Stripe connected account (this is how you will receive payouts as a service provider). Even if you do not plan on becoming a service provider (you only want to be a customer), this is still required 
        to use the app. It is important to note that all identity and finance data is managed by Stripe; the platform does not have access to that data. Stripe simply tells the platform (Carry) if the data is or isn't valid, not the actual data itself.
      </p>

      <p class="text-xl mb-5">
        Upon signup, your account starts off in an <span class="font-bold">unverified</span> state. 
        From the main home screen (in the unverified state), you only have access to 2 tabs at the bottom navigation: <span class="font-bold">Home</span> and <span class="font-bold">Settings</span>.
      </p>
      <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/home-screen-unverified.png'">

      <p class="text-xl mb-5">
        The main home page is mainly for viewing the status of your account: showing your name, icon, username, membership status (more on that later), stats, notifications and links to other resources/information. 
        When unverified, it shows a message that your account is not ready. You can get to the settings by tapping the "Settings" button/icon on the bottom navigation.
      </p>
      <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/settings-main-screen.png'">

      <p class="text-xl mb-5">
        The settings screen has a main navigation to getting to other specific settings, such as forms for changing basic information on your account with Carry (username, email, password, icon, etc).
      </p>

      <p class="text-xl mb-5">
        Tap the section labeled "Stripe Connected Account". 
        When an account is in the unverified state, there is a button labeled "Connect with Stripe". This will begin the onboarding process of creating a Stripe Connected Account with Carry. Tap the button to begin.
      </p>
      <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/settings-stripe-connect-start-onboarding-begin.png'">

      <p class="text-xl mb-5">
        The button will open the browser and start the onboarding process for creating your stripe connected account. The first step is to enter an email and verify a phone number.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-phone-step-1.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-phone-step-2.png'">
      </div>

      <p class="text-xl mb-5">
        The next step is to connect an external account to receive your payouts to.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-payout-account-1.png'">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-payout-account-2.png'">
      </div>

      <p class="text-xl mb-5">
        After selecting a payout account, you will be brought to a review screen. DO NOT submit just yet!
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-review-step.png'">
      </div>

      <p class="text-xl mb-5">
       There are 2 more steps that are required to make the account valid: submitting identity information (date of birth and last 4 of social security number) and uploadling a document to verify identity (managed by Stripe via <a href="https://stripe.com/identity" class="font-bold" target="_blank">Stripe Identity</a>, not by Carry). 
       This is to help reduce/mitigate bad actors from using the platform.
      </p>
      <p class="text-xl mb-5">
        To start the next step, tap the section where it says "Personal Details". It will bring you to the Additional Information step.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-id-step.png'">
      </div>

      <p class="text-xl mb-5">
        After that step, you will be brought back to the review screen and this time, showing that extra info in the personal details section. Again, DO NOT submit just yet; there is one last step.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-dob-ssn-verifying-step.png'">
      </div>

      <p class="text-xl mb-5">
        To start the last step, tap the section where it says "Personal Details" again. It will bring you to the Additional Information step for the last part.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-id-step.png'">
      </div>

      <p class="text-xl mb-5">
        After that last step, you will be brought back to the review screen; you are now ready to complete the onboarding. Click the submit button at the bottom of the review screen.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-submit.png'">
      </div>

      <p class="text-xl mb-5">
        Once the submission is finished, you should receive a notification indicating that the onboarding was successful and be redirected to a success screen that will direct you back to the app. You can now follow the redirect flow or close the browser and return to the app manually.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-redirect-on-complete.png'">
      </div>

      <p class="text-xl mb-5">
        Now, on the home screen, you should see the Stripe Connect status showing as Connected in green. If not, reload by swiping down from the top.
      </p>
      <div class="flex flex-col sm:flex-row flex-wrap gap-3">
        <img class="w-full sm:w-96 polaroid mb-5" [src]="'https://static.carryapp.me/assets/previews/iphone/stripe-connect-onboarding-return-connected.png'">
      </div>

      <p class="text-xl mb-5">
        At this point, Stripe will have communicated to Carry about the status of onboarding your connected account. If all the required information was present, Carry will mark your account as verified. 
        You will now see more tabs at the bottom navigation.
      </p>

    </section>
  </div>
</div>