<div>
  <div class="bg-gray-300">
    <div class="container mx-auto flex flex-col md:flex-row gap-4 py-40">
      <div class="w-full md:w1/2">
        <img class="w-96 block mx-auto" [src]="'./assets/img/carmaster-logo/logo.png'" alt="Logo">
      </div>
      <div class="w-full md:w1/2 text-center md:text-left">
        <p class="text-2xl md:text-7xl mb-3">
          Maximize your auto mechanic talents and skills
        </p>
        <p class="text-lg">
          Work your own hours and set your own prices
        </p>
      </div>
    </div>
  </div>

  <div>

  </div>
</div>
