<div class="border border-gray-200 bg-gray-50 p-3">
  <div class="flex flex-row gap-3 mb-2">
    <div class="w-full sm:w-3/4">
      <span class="font-bold">{{ field.fieldname }}</span>: {{ field.fieldvalue }}
    </div>
  
    <div class="w-full sm:w-1/4" *ngIf="isYou">
      <span class="mx-3 cursor-pointer" (click)="isEditing = !isEditing">{{ isEditing ? 'Cancel Edit' : 'Edit' }}</span>
      <span class="cursor-pointer" (click)="emitDelete()">Delete</span>
    </div>
  </div>

  <div *ngIf="isEditing">
    <carmaster-mechanic-field-form
      (formSubmit)="updateField($event)"
      [isEditing]="isEditing"
      [field]="field"
    ></carmaster-mechanic-field-form>
  </div>
</div>