<div class="uk-container row-pad-1">
  <div id="password-reset-page-container">
    <div class="container">
      <div class="card-box">
        <h1 class="title is-3">Send Password Reset Code</h1>
        <p>Enter your password to send a reset request.</p>
        <br>
        <form [formGroup]="sendResetForm" (ngSubmit)="onSendSubmit()">
          <input
            class="input-text-1"
            type="text"
            placeholder="Email"
            formControlName="email"
          />
          <br/>
          <br/>
          <button
            type="submit"
            class="btn-primary-1"
            [disabled]="!sendResetForm.valid || loading"
          >
            Submit
          </button>
        </form>
      </div>
  
      <br/>
      
      <div class="card-box">
        <h1 class="title is-3">Confirm Password Reset Code</h1>
        <p>Confirm the code that was sent to you by entering it here.</p>
        <br>
        <form [formGroup]="confirmCodeForm" (ngSubmit)="onConfirmSubmit()">
          <input
          class="input-text-1"
          type="text"
          placeholder="Code"
          formControlName="code"
          />
          <br/>
          <br/>
          <button
            type="submit"
            class="btn-primary-1"
            [disabled]="!confirmCodeForm.valid || loading"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>