<div class="container mx-auto">
  <div class="background-white m-16">
    <section class="p-16 border border-gray-300 shadow-sm">
      
      <div class="font-sans">
        <p class="text-5xl mb-10">Terms & Agreements</p>

        <ul class="list-disc text-lg">
          <li>All users of the app must have their identities verified.</li>
          <li>No illegal substances/objects should be listed as items to transport. We urge users to have honesty and integrity while using the platform.</li>
          <li>The platform is NOT liable for crimes or damages committed via the platform however help will be offered in the event a user engages in misconduct. Users will take full responsibility.</li>
          <li>No stealing will be tolerated, legal intervention will take place in any such event.</li>
          <li>All carriers (a user who is fulfilling a delivery) should communicate with the delivery owner and complete the run in a timely manner.</li>
          <li>The platform reserves/exercises the right to make changes to the terms and agreements.</li>
        </ul>

        <p class="text-2xl">The platform reserves/exercises the right to make changes to the terms and agreements.</p>
      </div>

    </section>
  </div>
</div>