<div>
  <div class="card-box-1">
    <div class="">
      <h3 class="text-3xl">Your Service Requests</h3>
    </div>
  </div>


  <div>
    <carmaster-service-request-card
      *ngFor="let service_request of service_requests"
      [service_request]="service_request"
      (delete)="onDeleteServiceRequest(service_request)"
    >
    </carmaster-service-request-card>

    <button
      *ngIf="!end_reached"
      (click)="getServiceRequests()"
      title="Load more"
      class="btn-primary-1"
      [disabled]="loading"
    >
      <i class="fas fa-sync"></i> Load More
    </button>
  </div>
</div>