<div class="border border-gray-300 bg-gray-100 p-3">
  <form #formElm [formGroup]="form" (ngSubmit)="onSubmit(formElm, iconInput)">
    <div class="mb-2">
      <span class="label-info">
        Title ({{ form.value.title.length }}/255)
      </span>
      <input class="input-text-1" type="text" placeholder="Enter Credential Title" formControlName="title" >
    </div>

    <div class="mb-2">
      <span class="label-info">
        Description ({{ form.value.description.length }}/500)
      </span>
      <textarea type="text" class="input-text-1" placeholder="Enter Credential Description" rows="3" formControlName="description"></textarea>
    </div>

    <div class="mb-2">
      <span class="label-info">
        Website ({{ form.value.website.length }}/255)
      </span>
      <input class="input-text-1" type="text" placeholder="Enter Credential Website" formControlName="website" />
    </div>

    <div class="mb-3">
      <span class="label-info">
        Picture
      </span>
      <input #iconInput type="file" class="input-text-1" name="icon" formControlName="file" />
    </div>
    
    <div class="form-group">
      <button
        type="submit"
        class=btn-primary-1
        [disabled]="loading"
      >
        Submit
      </button>
    </div>
  </form>
</div>