<div class="">
  <div class="flex flex-col gap-4">
    <div class="w-full">
      <div class="card-box-1">
        <div class="">
          <h3 class="text-3xl mb-3">Search for service requests</h3>
        </div>
  
        <carmaster-service-request-search-form
          (formSubmit)="searchServiceRequests($event)"
        ></carmaster-service-request-search-form>
      </div>
    </div>


    <div  >

      <carmaster-service-request-card
        *ngFor="let service_request of service_requests"
        [service_request]="service_request"
        [showEmbeddedContent]="true"
      >
        <div>
          <div class="flex flex-col sm:flex-row gap-3 mb-4">
            <div class="w-full sm:w-1/2">
              <p class="mb-3 text-xl">
                <strong>Info</strong><br/>
              </p>

              <div class="flex flex-col sm:flex-row gap-3">
                <div class="w-full md:w-1/2">
                  <p class="mb-3">
                    <span class="text-sm"><span class="font-bold">Make:</span> {{ service_request.make }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Model:</span> {{ service_request.model }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Year:</span> {{ service_request.year }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Type:</span> {{ service_request.type }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Trim:</span> {{ service_request.trim }}</span>
                  </p>
                </div>

                <div class="w-full md:w-1/2">
                  <p class="mb-3">
                    <span class="text-sm"><span class="font-bold">Service Category:</span> {{ service_request.service_category }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Service Type:</span> {{ service_request.service_type }}</span><br/>
                    <span class="text-sm"><span class="font-bold">Service Action:</span> {{ service_request.service_action }}</span>
                  </p>
                  <p class="mb-3">
                    <span class="font-bold">Payout:</span> ${{ service_request.payout | number }}<br/>
                  </p>
                </div>
              </div>
            </div>
  
            <div class="w-full sm:w-1/2">
              <form class="mb-3" *ngIf="!!you" [formGroup]="messageFormsByUserId[service_request.user_id]" (ngSubmit)="sendMessageToUser(service_request.user!)">
                <p class="text-2xl">Send a message</p>
                <div class="uk-margin">
                  <span class="label-info">
                    Body ({{ messageFormsByUserId[service_request.user_id].controls['body'].value.length }}/{{ MSG_MAX_LENGTH }})
                  </span>
                  <textarea
                    type="text"
                    class="input-text-1"
                    placeholder="Enter message..."
                    rows="3"
                    formControlName="body"
                  ></textarea>
                </div>
                <div>
                  <button
                    type="submit"
                    title="Message this user"
                    class="btn-primary-1"
                    [disabled]="loading || messageFormsByUserId[service_request.user_id].invalid"
                  >
                    <i class="fas fa-paper-plane"></i>
                    Submit
                  </button>
                </div>
              </form>

              <div>
                <!-- <button
                  type="submit"
                  title="Message this user"
                  class="btn-primary-1"
                  [disabled]="loading || messageFormsByUserId[service_request.user_id].invalid"
                >
                  <i class="fas fa-paper-plane"></i>
                  Submit
                </button> -->
              </div>
            </div>
          </div>
        </div>

      </carmaster-service-request-card>
      
      <!-- <div class="p-4 h-auto grow flex flex-col justify-between">
        <div class="flex flex-col sm:flex-row gap-3">
          <div class="w-full sm:w-1/2">
            <h1 class="text-gray-900 font-bold text-4xl leading-8 my-1">{{ service_request.user!.displayname }}</h1>
            <h3 class="text-gray-600 font-lg text-semibold leading-6">
              <a [routerLink]="['/', 'users', service_request.user!.id]">@{{ service_request.user!.username }}</a>
            </h3>
          </div>
          <div class="w-full sm:w-1/2">
            
          </div>
        </div>

        <div class="border border-gray-300 p-5 mt-3 mb-5">
          <p class="text-4xl">{{ service_request.title }}</p>
          <p class="text-2xl mb-3">{{ service_request.description }}</p>

          <p class="mb-3">
            Make: {{ service_request.make }}<br/>
            Model: {{ service_request.model }}<br/>
            Year: {{ service_request.year }}<br/>
            Type: {{ service_request.type }}<br/>
            Trim: {{ service_request.trim }}
          </p>

          <p class="mb-3">
            Service Category: {{ service_request.service_category }}<br/>
            Service Type: {{ service_request.service_type }}<br/>
            Service Action: {{ service_request.service_action }}
          </p>

          <p class="mb-3">
            Payout: ${{ service_request.payout | number }}<br/>
            You get: ${{ service_request.payout | payout | number }} <span *ngIf="is_subscription_active" class="text-sm">(You get the full amount by subscribing to the platform!)</span> <span *ngIf="!is_subscription_active" class="text-sm">(Subscribe to get the full payout on service requests!)</span>
          </p>

          <img *ngIf="service_request.image_link" class="" [src]="service_request.image_link" alt="Service Request Image">


        </div>

        <div>
          
        </div>
      </div> -->

    </div>
  </div>
</div>