<div>
  <!-- Main Hero Content -->
  <div
    class="container max-w-lg mx-auto text-left md:max-w-none md:text-center"
  >
    <div class="p-36">
      <h1
        class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
      >
        <span class="inline md:block">Need something delivered?</span>
      </h1>
      <div
        class="mx-auto mt-5 text-gray-500 md:mt-12 md:max-w-lg md:text-center lg:text-lg"
      >
        Make a delivery listing and have it delivered fast, like today fast!
      </div>
    </div>

    <div class="p-36 bg-accent">
      <h1
        class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
      >
        <span class="inline md:block">Looking to deliver and make money?</span>
      </h1>
      <div
        class="mx-auto mt-5 text-gray-500 md:mt-12 md:max-w-lg md:text-center lg:text-lg"
      >
        Get paid by simply delivering things for people!
      </div>
    </div>

    
  </div>
  <!-- End Main Hero Content -->
</div>
