<div class="font-sans">
  <section id="intro-section" class="p-8 sm:p-12 home-intro-section text-center">
    <div class="container gutter mx-auto">
      <h1 class="home-intro-title">Modern</h1>
      <p class="home-intro-text">The platform that uplifts and empowers you to infinity.</p>
      <img class="mx-auto" [src]="'./assets/img/modern/logo-original-200.png'" alt="Modern Logo">
    </div>
  </section>

  <section id="portfolio-section" class="portfolio home-section py-20 px-4">
    <img class="mx-auto w-64" [src]="'./assets/img/carry/app_icon.png'" alt="Modern Logo">
    <p class="text-5xl text-center mt-7 mb-3">Carry: Community Carrier</p>
    <p class="text-center text-lg"></p>
  </section>
</div>