<div class="container mx-auto">
  <div class="background-white m-3 sm:m-16">
    <section class="p-3 sm:p-16 border border-gray-300 shadow-sm">
      
      <div class="font-sans">
        <p class="text-5xl mb-10">Stripe Connect onboarding return page.</p>

        <p class="text-xl mb-5">
          If onboarding was successful, you will be redirected to the app.
        </p>
        <div class="text-xl mb-5" *ngIf="isRedirecting">
          <p>Successfully onboarded Stripe Connect Account! Redirecting to app...</p>
          <img src="https://static.carryapp.me/assets/img/spinner-loader-1.gif" alt="Loading icon" class="w-16" />
        </div>
      </div>

    </section>
  </div>
</div>