<div>
  <div class="card-box-1">
    <div class="uk-card-body">
      <p class="text-3xl">Settings</p>
    </div>
  </div>

  <div class="card-box-1">
    <div class="uk-card-body">
      <form class="" [formGroup]="delivermeSettingsForm" (ngSubmit)="onSubmitUserDelivermeSettingsForm()">
        <fieldset class="uk-fieldset">
          <!-- <legend class="uk-legend">Basic Info</legend>
          <br/> -->
          
          <div class="uk-child-width-expand@s" uk-grid>
            <div class="">
              <input
                class="input-text-1"
                type="text"
                placeholder="Phone"
                formControlName="phone"
              />
            </div>
            <div class="">
              <input
                class="input-text-1"
                type="text"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>

          <div class="uk-margin">
            <input
              class="input-text-1"
              type="text"
              placeholder="$CashApp Tag"
              formControlName="cashapp_tag"
            />
          </div>
          <div class="uk-margin">
            <input
              class="input-text-1"
              type="text"
              placeholder="Venmo @"
              formControlName="venmo_id"
            />
          </div>
          <div class="uk-margin">
            <input
              class="input-text-1"
              type="text"
              placeholder="Paypal.Me Link"
              formControlName="paypal_me"
            />
          </div>
          <div class="uk-margin">
            <input
              class="input-text-1"
              type="text"
              placeholder="Google Pay (name/phone/id/etc)"
              formControlName="google_pay"
            />
          </div>
        </fieldset>
  
        <button
          type="submit"
          class="btn-primary-1"
          [disabled]="!delivermeSettingsForm.valid || loading"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>